* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 50px 20px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.chart {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.tooltip {
	z-index: 2;
	position: absolute;
	display: none;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #dfe6eb;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
}

.tooltip__title {
	margin-bottom: 5px;
	color: #333;
	font-size: 14px;
	font-weight: 600;
}

.tooltip__list {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
  margin: 0;
  padding: 0;
}

.tooltip__list-item:not(:last-child) {
	margin-right: 10px;
}

.tooltip__name {
	font-size: 13px;
}

.tooltip__value {
	font-size: 16px;
	font-weight: 500;
}

.slider {
	position: relative;
}

.slider__left,
.slider__right {
	opacity: 0.8;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #f5f9fb;
	transition: background-color 0.3s ease;
}

.slider__left {
	left: 0;
}

.slider__right {
	right: 0;
}

.slider__right-arrow,
.slider__left-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4px;
	background-color: #ddeaf3;
	transition: background-color 0.3s ease;
}

.slider__right-arrow {
	left: 0;
	cursor: e-resize;
}

.slider__left-arrow {
	right: 0;
	cursor: w-resize;
}

.slider__window {
	position: absolute;
	top: 0;
	bottom: 0;
	border-top: 2px solid rgba(237, 244, 249, .8);
	border-bottom: 2px solid rgba(237, 244, 249, .8);
	background-color: transparent;
	cursor: grab;
}

.slider__window:active {
	cursor: grabbing;
}