/* Common styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	padding: 50px 20px;
	font-family: Roboto, sans-serif;
	font-weight: 400;
}

.chart {
	position: relative;
	width: 800px;
	margin: 0 auto;
}

/* Tooltip styles */
.tooltip {
	z-index: 2;
	position: absolute;
	display: none;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #dfe6eb;
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
	background-color: #fff;
}

.tooltip__title {
	margin-bottom: 5px;
	color: #333;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 600;
}

.tooltip__list {
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tooltip__list-item:not(:last-child) {
	margin-right: 10px;
}

.tooltip__name {
	font-size: 13px;
}

.tooltip__value {
	font-size: 16px;
	font-weight: 500;
}

/* Sldier elements styles */
.slider {
	position: relative;
	margin-bottom: 25px;
}

.slider__left,
.slider__right {
	opacity: 0.8;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: #f5f9fb;
	transition: background-color 0.3s ease;
}

.slider__left {
	left: 0;
}

.slider__right {
	right: 0;
}

.slider__right-arrow,
.slider__left-arrow {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 4px;
	background-color: #ddeaf3;
	transition: background-color 0.3s ease;
}

.slider__right-arrow {
	left: 0;
	cursor: e-resize;
}

.slider__left-arrow {
	right: 0;
	cursor: w-resize;
}

.slider__window {
	position: absolute;
	top: 0;
	bottom: 0;
	border-top: 2px solid rgba(237, 244, 249, .8);
	border-bottom: 2px solid rgba(237, 244, 249, .8);
	background-color: transparent;
	cursor: grab;
}

.slider__window:active {
	cursor: grabbing;
}

/* Checkboxes styles */
.checkbox {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	cursor: pointer;
}

.checkbox--shake {
	animation: headShake 1s ease-in-out forwards;
}

@keyframes headShake {
	0% {
    transform: translateX(0);
	}
	6.5% {
	transform: translateX(-6px) rotateY(-9deg);
	}
	18.5% {
		transform: translateX(5px) rotateY(7deg);
	}
	31.5% {
		transform: translateX(-3px) rotateY(-5deg);
	}
	43.5% {
		transform: translateX(2px) rotateY(3deg);
	}
	50% {
		transform: translateX(0);
	}
}

.checkbox:not(:last-child) {
	margin-bottom: 10px;
}

.checkbox:hover .checkbox__box {
	border-color: currentColor;
}

.checkbox__input {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
	margin: 0;
}

.checkbox__input:checked ~ .checkbox__box {
	background-color: currentColor;
	border-color: currentColor;
}

.checkbox__input:checked ~ .checkbox__box .checkbox__box-mark:before {
	height: 7px;
	transition: all 0.15s ease-in;
}

.checkbox__input:checked ~ .checkbox__box .checkbox__box-mark:after {
	width: 12px;
	transition: all 0.15s ease-in 0.15s;
}

.checkbox__box {
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid currentColor;
	border-radius: 4px;
	background-color: #fff;
	transition: all 0.3s ease;
}

.checkbox__box-mark {
	position: relative;
	top: 4px;
	left: 3px;
	width: 12px;
	height: 7px;
	transform: rotate(-45deg);
}

.checkbox__box-mark:after, .checkbox__box-mark:before {
	content: "";
	position: absolute;
	background-color: #fff;
}

.checkbox__box-mark:before {
	height: 0;
	width: 2px;
	transition: all 0.15s ease-out 0.15s;
}

.checkbox__box-mark:after {
	top: 5px;
	height: 2px;
	width: 0;
	transition: all 0.15s ease-out;
}

.checkbox__text {
	padding-top: 2px;
	font-size: 14px;
	font-weight: 500;
}